@charset "UTF-8";

@media screen and (min-width: 768px) {

    header {
        display: flex;
    }

    #logo {
            text-align: left;
    }

    #carrinho {
        display: block;
        margin: auto;

    }

    #textoInicial {
        text-align: center;
        margin-top: auto;
        margin-right: auto;
        margin-left: 40vh;
    }

    h1 {
        font-size: 4em;
    }

    i#icon {
        display: none;
    }

    #superior{
        display: inline-flex;
    
    }

    #superior > ul > li {
        display: inline-block;
               
    }

    #pizza {
        display: flex;
        align-items: center;
        margin: auto;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        
    }

    #NomePagina {
        text-align: center;
        margin: auto;
                
    }

    figcaption {
       
        position: absolute;
        margin-left: 20em;
        top: 8em;
        text-align: center;
        font-size: 40px;
         color: black;
        text-shadow: 0px 0px 5px black;
    }
}

