@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Righteous&family=Satisfy&display=swap'); /*font-family: 'Satisfy', cursive;*/

@media screen and (min-width: 768px) {

    header {
        display: flex;
    }

    #logo {
            text-align: left;
    }

    #carrinho {
        display: block;
        margin: auto;
        margin-right: 4em;
        margin-left: 0%;  
        
    }

    #carrinho > a {
        text-decoration: none;
        color: white;
        display: flex;
        font-family: 'Righteous', cursive;
        
    }

    #textoInicial {
        text-align: center;
        margin: auto;
        padding-top: 2em;
    }

    h1 {
        font-size: 4em;
    }

    i#icon {
        display: none;
    }

    #superior{
        display: inline-flex;
       
    
    }

    #superior > ul > li {
        display: inline-block;
        border-top: transparent;
    }

    #superior > ul > li > a {
        font-family: 'Satisfy', cursive;
        font-size: 3em;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      
    }

    
    #NomePagina {
        
        background-image: url(Imagens/Pizza.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 20em;
        text-align: center;
        margin: auto;
                
    }

    main {
        margin-left:15.7em;
        margin-right: 15.7em;
       
        margin-top: 0;
        padding-top: 5px;
    }

    #textopag {
        background-color: none;
        font-family: 'Satisfy', cursive;
        font-size: 4em;
        padding: 1.5em;
        color: black;
        text-shadow: 10px 10px 10px;
        
    }

   .item {
       margin-left: 5em;
       margin-right: 5em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
}
    
    
    